<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
     <!--  google fonts   -->
     <!--    -->
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
   
   <section id="flex">
       <div class="pic">
           
       </div>
       <div class="fields">

          <form action="" method="POST" class="register">
            <h1>Register To Our System</h1>
           
              <input type="text" name="name" placeholder="name..">
             
               <input type="text" name="email" placeholder="email..">
               
               <input type="password" name="pwd" placeholder="password..">
            
               <input type="password" name="pwd2" placeholder="confirm password..">

               <button type="submit" class="log-btn">Register</button>
               <span class="or">OR</span>
                <button type="button" class="reg-btn">
                  <a href="/">Login</a>
               </button>              
           </form>
       </div>
   </section>
   
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/fontawesome-all.min.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>