<!DOCTYPE html>
<html lang="en">
<head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Upload Image Profile</title>
              <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <!--    -->
     <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
     
</head>
<body>


         <div class="container">
            <a href="/users/home" type="button" class="btn waves-effect waves-light" style="margin-top: 20px"><i class="fas fa-home"></i></a>
         </div>

       <div class="container">
            
            <form action="" method="POST" enctype="multipart/form-data" >
            <h2>Upload Image Profile : </h3>
             <span style="color: red;font-size: 18px"> <%= typeof err != 'undefined' ? err : '' %> </span>
            <div class="file-field input-field">
                        <div class="btn">
                        <span>File</span>
                        <input name="img" type="file">
                        </div>
                        <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                        </div>
                        </div> 
                        <button type="submit" class="btn btn-large" style="background:blue">Save</button>
            </form>
            <br>
            <img class="responsive-img" src="<%= (typeof img != 'undefined')? '/uploads/'+img :'/static/imgs/home/avatar.jpg' %>" alt="image">
       </div>
                                                         
      <!-- Compiled and minified JavaScript -->
      <script src="/static/js/jquery-3.3.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>      
</body>
</html>